<%  error.status = error.status + "";%>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 HTML Template by Colorlib</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/error.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1><%= error.status[0] %><span><%= error.status[1] %></span><%= error.status[2] %></h1>
			</div>
			<p><%=error.stack %></p>
			<a href="/">home page</a>
		</div>
	</div>

</body>

</html>

